<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469427487050-4pf5qnagct27vbkm4r63kgevkau542er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469427487050-4pf5qnagct27vbkm4r63kgevkau542er</string>
	<key>API_KEY</key>
	<string>AIzaSyCeIT9Ys4phtTC6dXACb8iP6ELTqGjIzts</string>
	<key>GCM_SENDER_ID</key>
	<string>469427487050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter1-843ce</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter1-843ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469427487050:ios:ba494d7d28eea19ba7c1b3</string>
</dict>
</plist>